<div class="header-dark mdl-layout mdl-js-layout">
  <header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
      <!-- Title -->
      <a class="mdl-layout-title mdl-navigation__link" ui-sref="home"><span>Commutr</span></a>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" ></a>
        <a class="mdl-navigation__link" ui-sref="register">Register</a>
        <a class="mdl-navigation__link" ui-sref="auth">Login</a>
        <a class="mdl-navigation__link" ui-sref="about">About</a>
      </nav>
    </div>
</header>
</div>