<header class="menu-group header">
  <!-- Title -->
  <div class="menu-group-left">
    <ul class="menu-bar">
      <li class="notable-logo">
        <a ui-sref="app.home">
          <span class="title">Commutr</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- Navigation -->
  <div class="menu-group-right">
    <ul class="horizontal menu-bar">
      <li class="has-dropdown">
          <i class="material-icons">menu</i>
        <ul class="dropdown-content" data-dropdown-menu>
            <li>
              <span><a ui-sref="app.auth">Login</a></span>
            </li>
          </ul>
        </li>
    </ul>
  </div>
</header>