<header class="top-bar header">
  <!-- Title -->
  <div class="top-bar-left">
    <ul class="menu-bar">
      <li class="notable-logo">
        <a ui-sref="app.home">
          <span class="title">Commutr</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- Navigation -->
  <div class="top-bar-right">
    <ul class="horizontal menu-bar">
      <li class="dropdown menu" data-dropdown-menu>
        <a class="material-icons dropdown" data-dropdown-menu>menu</a>
        <ul class="menu">
            <li>
              <span><a ui-sref="app.auth">Login</a></span>
            </li>
          </ul>
        </li>
    </ul>
  </div>
</header>