<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Commutr</title>
    <!-- STYLES -->
    <link rel="stylesheet" href="/assets/vendors/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/assets/styles/styles.css">

    <!-- SCRIPTS -->
    <script type="text/javascript" src="/assets/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/LoginController.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/AdminRegisterController.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/UserRegistrationController.js"></script>
    <script type="text/javascript" src="/assets/scripts/factories/DataService.js"></script>
  </head>


  <body ng-controller="LoginController">
    <md-content layout-padding>
      <header>
        <a href="/views/index.html"><img id="logo" src="/assets/images/logo19.png" alt="logo" /></a>
      </header>

      <div class="instructions">
      <div class="container">
          <h1 class="lead">Failed to login</h1>
      </div>


      </div>
      <p><a href="/views/index.html">Back to login</a></p>
    </md-content>
  </body>
</html>
