<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Commutr</title>
    <!-- STYLES -->
    <link rel="stylesheet" href="/assets/vendors/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/assets/styles/styles.css">

    <!-- SCRIPTS -->
    <script type="text/javascript" src="/assets/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.js"></script>
    <!-- <script type="text/javascript" src="/assets/scripts/controllers/AdminController.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/UserController.js"></script>
    <script type="text/javascript" src="/assets/scripts/factories/DataService.js"></script> -->

  </head>

  <body>
    <md-content layout-padding>

      <header>
        <a href="/views/index.html"><img id="logo" src="/assets/images/logo19.png" alt="logo" /></a>
      </header>

        <div class="admin-registration-form" style="width : 600px; margin: 0 auto;">
          <div layout-align="center center" layout="column">
              <h3 class="md-title">Admin Registration</h3>
          </div>
          <form name="userRegistration" action="/registeradmin" method="post">
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>First Name</label>
                <input name="firstname">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Last Name</label>
                <input name="lastname">
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>email</label>
                <input name="email">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Company</label>
                <input name="compay_name">
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Company Size</label>
                <md-select name="companysize" ng-model="user.companysize">
                  <md-option>1-5</md-option>
                  <md-option>5-15</md-option>
                  <md-option>15-30</md-option>
                  <md-option>30-50</md-option>
                  <md-option>50-100</md-option>
                  <md-option>100-500</md-option>
                  <md-option>500-1000</md-option>
                  <md-option>1000+</md-option>
                </md-select>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Benefit Type</label>
                <md-select name="benefit_type" ng-model="user.benefit">
                  <md-option>Points</md-option>
                  <md-option>Reimbursement</md-option>
                  <md-option>Insurance Deduction</md-option>
                </md-select>
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Address</label>
                <input name="address">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Address 2</label>
                <input name="address2">
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>City</label>
                <input name="city">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>State</label>
                <md-select name="state" ng-model="user.state">
                  <md-option ng-repeat="state in states" value="{{state.abbrev}}">{{state.abbrev}}</md-option>
                </md-select>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Zip Code</label>
                <input name="zip">
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Password</label>
                <input name="password" type="password">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Verify Password</label>
                <input ng-model="user.password" type="password">
              </md-input-container>
            </div>


            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
              <md-button type="submit" class="md-raised md-primary">SUBMIT</md-button>
            </section>
          </form>
        </div>
      </md-content>
    </div>
  </body>
</html>
