<md-content layout-padding ng-controller="UserController" ng-cloak>
  <ng-include src="'/views/partials/header.html'"></ng-include>
  <div class="user-home">

    <div layout-gt-lg="column" >
      <h1 id="welcome" class="md-caption" layout-align="end end">{{userData.first_name}}!</h1>
    </div>

      <section class="commute-form" ng-controller="UserController">
        <form name="commuteForm" ng-submit="submit(person)" novalidate>

          <div layout-gt-sm="column" layout-align="center center" >
            <md-datepicker name="date" ng-model="person.date" md-placeholder="Date of Commute" required md-min-date="minDate" md-max-date="maxDate" class="md-accent" layout-align="center center">
              <div ng-messages="commuteForm.date.$error" multiple>
                <div ng-message="valid">The entered value is not a date!</div>
                <div ng-message="required">This date is required!</div>
                <div ng-message="mindate">Date is too early!</div>
                <div ng-message="maxdate">Date is too late!</div>
              </div>
            </md-datepicker>
          </div>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm layout-align="center center">
              <label>Mode of Transportation</label>
              <md-select ng-model="person.mode" required>
                <md-option ng-repeat="mode in transportationModes"> {{ mode }} </md-option>
              </md-select>
              <div ng-messages="commuteForm.mode.$error">
                <p ng-message="required">This field is required.</p>
              </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Miles</label>
              <input ng-model="person.miles" type="number" step=".01" required>
              <div ng-messages="commuteForm.mode.$error">
                <p ng-message="required">This field is required.</p>
                <p ng-message="valid">Please enter a valid number</p>
              </div>
            </md-input-container>
          </div>

          <section layout-gt-sm="column" layout-align="center center" layout-wrap>
            <md-button type="submit" ng-disable="commuteForm.$invalid" class="md-raised md-primary">SUBMIT</md-button>
          </section>
        </form>
      </section>

      <section>
        <div class="strava-info" layout-gt-sm="row" layout-align="space-between center">
          <h2>Strava Successes:</h2>
          <h3>Biggest Ride: {{strava.stravaInfo.biggest_ride_distance * 0.000621371192 | number}} miles</h3>
          <h3>Biggest Elevation Gain: {{strava.stravaInfo.biggest_climb_elevation_gain * 0.3048 | number}} feet</h3>
        </div>

        <div class="strava-info" layout-gt-sm="column" layout-align="center center">
          <h3>Recent Stats</h3>
          <h4>Cycling Totals</h4>
        </div>
        <div layout-gt-sm="row" layout-align="space-between center" ng-repeat="(key, value) in strava.stravaInfo.recent_ride_totals">
          <h5>{{key}}</h5>
          <h5>{{value}}</h5>
        </div>
      </section>

    </div>
    </div>
  </div>

</md-content>
