@font-face {
      font-family:"icomoon";
      src:url("https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot");
      font-weight:normal;
      font-style:normal;
}

#logo {
  position: relative;
  left: 25px;
  top: 10px;
  width: 150px;
  height: auto;
}

.button-nav {
  font-size: 10px;
  text-align: right;
}

.button-nav li {
  text-align: right;
  display: block;
}

.login-form {
  width: 300px;
  margin: 0 auto;
}

.login-form button {
  display: block;
  position: left 100%;
}

.user-home {
  width: 600px;
  margin: 0 auto;
}

#welcome {
  text-align: center;
}

.commute-form md-content {
  padding-bottom: 200px;
}
.commute-form .validation-messages {
  font-size: 12px;
  color: #dd2c00;
  margin: 10px 0 0 25px;
}
