<header layout-gt-md="row" layout-align="space-around center" ng-controller="UserController" ng-controller="UserController" ng-cloak>
  <a href="/views/index.html"><img id="logo" src="../assets/images/logo19.png" alt="logo" /></a>
  <h1 class="md-display-2">{{userData.company_name}}</h1>
  <md-menu>
      <md-button aria-label="Open User Menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
        <img ng-src="{{userData.strava_pic || '../assets/images/icons/ic_directions_bike_black_24dp_2x.png'}}" alt="user image icon" />
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button href="#user">
            Home
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button href="#strava">
            Strava Info
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  <!-- <a href="#"><i class="material-icons md-dark md-48" layout-align="right">account_circle</i></a> -->
</header>
