body {
  height: 100%;
}

.header-dark .mdl-layout__header--scroll {
  color: white;
}

.homescreen {
  height: 100%;
  background-image: url('/public/content/images/home-green-bike.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}