


$text-color: rgb(87,87,87);
$base-background: #C7E8A2;

body {
  height: 100%;
}

.header {
  background-color: $base-background;
  div {
  background-color: $base-background;
  }
  a {
  background-color: $base-background;
  }
}

.homescreen {
  height: 500px;
}

.full-width {
  max-width: 1400px;
}


// footer CSS

.footer {
  background-color: $base-background;
  padding: 2rem 4rem;
  text-align: center;
  color: $text-color;
  i {
    font-size: 100px;
  }
}

.footer {
  display: inline-block;
  h4 {
    color: $text-color;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin: 2.5rem 0 10px 0;
  }
  p, a {
    font-weight: 300; 
    font-size: .8em;
    color: $text-color;
  }
 
}

@media only screen and (min-width: 40.063em) {
.footer {
  .grid-content:nth-child(n+2) {
    border-left: 1px solid scale-color($text-color, $lightness: -30%);
    min-height: 280px;
  }
 }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}