


$textColor: rgb(87,87,87);
$bannerTextColor: #F7F7F7;
$highlightBackground: #53BB96;
$headerWidth: 8vw;

body, a {
  margin: 0;
  padding: 0;
  height: 100%;
  color: $textColor;
  font-family: 'Raleway', 'Arial', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

body > section {
  padding: 0;
  margin: 0;
}

.header {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  position: fixed;
  top: 2%;
  right: 0;
  text-align: center;
  padding-right: 1vw;
  // div {
  //   position: absolute;
  //   top: 2vh;
  //   padding: 0;
  //   margin: 0;
  // }
  svg {
    padding: 0;
    margin: 0;
    cursor: pointer; 
  }
  .nav-links {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    li {
      overflow: hidden;
      height:0;
      background-color: rgba($textColor, .5);
      -webkit-transition:height 500ms ease-in;
      -moz-transition:height 500ms ease-in;
      -o-transition:height 500ms ease-in;
      transition: height 500ms ease-in;
      a {
        margin-top: 33%;
      }
    }
    & * {
      color: $bannerTextColor;
    }
  }
  div:hover .nav-links li {
    height: 50px;
  }
}

.footer {
  display: flex;
  background-color: $highlightBackground;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  max-height: 30vh;
  bottom: 0;
  padding: 2vh 2vw;
  * {
    font-size: 1.75vh;
    margin: 0;
  }
  div {
    flex: 1 29%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    padding: 2%;
    & > * {
      padding-right: 2%;
    }
    i {
      margin-right: 5%;
    }
  }
  div:nth-of-type(3),
  div:nth-of-type(4) {
    flex: 1 12.5%;
    flex-direction: column;
    h4 {
      margin: 0 0 2vh;
      font-size: 2vh;
    }
  }
}

.landing-page {
  min-height: 100vh;
  background-image: url('/public/content/images/home-green-bike.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  // position: relative;
  & > * {
    display: none;
  }
  p {
    color: $bannerTextColor;
  }
  .overlay {
    position: absolute;
    background-color: rgba(0,0,0, .6);
    width: 40vw;
    height: 40vh;
    padding: 3vw;
    top: 15%;
    right: 15%;
    border-radius: 15px;
    color: $bannerTextColor;
    h1 {
      font-size: 8vh;
    }
  }
}